.idea/
.idea/*
.vscode/
node_modules
node_modules/*
package-lock.json
/swagger_docs/**/definitions.json
/public/*
/public/swagger_doc/*
!/public/swagger_doc/swaggerAddAuth.js
!/public/old
/public/old/sprite/
/public/old/csv/*
/public/old/doc/*
/public/old/doc/
/public/old/thumbs/*
/public/old/thumbs
/public/old/js/build.js
/public/old/css/*
!public/old/css/report.css
/public/old/js/build-*
/public/old/index.html
/public/old/js/libs
/.vscode
/playground.mongodb
/nbproject/private/
/nbproject/
/tmp/*
/tmp/
/compress-tmp/*
/compress-tmp/
/public/dist/*
/public/index.html
/public/js/build-*
.env
request.http
.request
/logs/*
/log/*
dump.rdb
models/playground.mongodb
*.log
dbscripts/updateChannelsArtistsVideos.js
/.clinic
/.request
/*.pdf
**/.DS_Store
/sendgrid
/scripts/sitemap/data
/scripts/data/oldPrices*
/public/lib
/libs/azureSDK.js
/scripts/generateData/tempData

./DTO/Typing/index.d.ts

DTO/Typing/index.d.ts
DTO/Typing/**
